*{
 padding: 0;
 margin: 0;
}
body{
	background: #ddd;
}
#contenedor{
      width: 1000px;
      margin: auto;
}
main{

 text-align: center;
	color: white;
	line-height: 30px;
	font-style: italic;

}
     
main{
    width: 1000px;
    height: 100px;
    background-color: #005883;
}
header nav{
        
        background-color:#F0B429;

}

.navegacion ul{
	list-style: none;
}
.menu > li{
	padding: 0.7em 2em;
	position: relative;
	display: inline-block;
}
.menu > li:hover {
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}
.menu > li > a{
	display: block;
	padding: 15px 10PX;
	color: black;
	font-family: fantasy;
	text-decoration: none; 
}

.menu li:hover > ul{
	display: block;
}

.menu li ul{
	display:none;
	position: absolute;
	min-width: 180px;
}

.menu li ul li a{
	background:#005883;
	padding: 10px 60px;
	display: block;
	color: white;
	text-align: center;
	width: 120px;
	text-decoration: none;
}





section{
	float: left;
	width: 745px;
	height: 650px;
	margin-top: 5px;
	background-color: white;
}
aside{

	margin-top: 5px;
	float:  left;
	width:250px;
	height:315px;
	margin-right:5px;
	background-color: #808080;
}
aside:ntn-of-type(1){
	height: 50px
}
footer{
	clear: both;
	width: 1000px;
	height:50px;
	background-color: #333;
	text-align: center;
	color: white;
	line-height: 50px;
	font-style: italic;
}